body {
	background-color: #202020;
}

.container {
	color: #ffffff;
	background-color: #606060;
	min-height: 1000px;
	box-shadow: 0px 10px 10px 10px #303030;
}
#search {
	z-index: 200;
}
.form-inline {
	position: relative;
}
#livesearch {
	position: absolute;
	top: 35px;
	padding: 5px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 0px 0px 5px 5px;
	border-style: solid;
	border-width: thin;
	border-color:lightskyblue;
	text-decoration: none;
	z-index: 10;
}
#livesearch>a {
	color: white;
	text-decoration: none;
}
#livesearch > a:hover {
	background-color: grey;
}
.container a{
	color: #57a6fb;
}

.container a:hover{
	color: #77a6fb;
}
